body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(247, 244, 244);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}