body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar{
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navButtons{
    display: flex;
    background-color: rgb(221, 221, 221);
}

.icon_Buttons{
    width: 12px;
    height: 12px;
}
