body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar{
    flex-direction: column;
    align-items: center;
    background-color: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.navButtons{
    display: flex;
    background-color: rgb(221, 221, 221);
    gap: 10px;
}

.icon_Buttons{
    width: 12px;
    height: 12px;
}

.icon_ButtonsLayout{
    width: 12px;
    height: 12px;
    background-color: rgb(199, 232, 249)
}

.top-bar {
    height: 8px;
    background: linear-gradient(
        90deg,
        #f7d774 0%,
        #f3c45a 25%,
        #f0b94f 50%,
        #f3c45a 75%,
        #f7d774 100%
    );
}

/*

=========================
        article
=========================

*/

.texto_article{
    display: flex;
    
}
