body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#links {
    padding-right: 10px;
}

#display{
    justify-content: flex-start;
    padding: 10px;
    gap: 5px;
    flex-wrap: wrap;
    
}

li {
  list-style-type: none;
}

.card{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(25, 0, 255);
    background-color: rgba(160, 174, 201, 0.993);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;

}

.img_card{
    width: 200px;
    height: auto;
    object-fit: cover;
}