#index{
    background-color: white;
    font-family: sogo;
}

#display1{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    background-color: rgb(201, 226, 247);
    border: 0px;
    border-radius: 15px;
    font-size: 12px;
    flex: 1.7;
    justify-content: space-between;
    
}

#texto1{
    color: rgb(41, 23, 204);
    font-size: 20px;
    margin-left: 0%;
    margin-right: 0%;
}

.card1{
    display: flex;
    align-items: center

}

.img_card{
    width: 310px;
    height: 310px;
    
}