#index{
    background-color: white;
    font-family: sogo;
}

#display1{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    
    
}

#texto1{
    color: rgb(41, 23, 204);
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(0, 107, 201);
    padding: 10px;
    border-radius: 15px;
    color: white;
    max-width: 110px;
    text-align: center;
}

.setas1{
    background-color: white;
    border-radius: 10px;
    transform: translate(-5px);
}
.seta1{
    height: 30px;
    width: 30px;
}

#textoseta1{
    display: flex;
    align-items: center;
}

#img_card{
    margin-top: 17px;
    margin-left: 0px;
    margin-right: 0px;
    width: 310px;
    height: 310px;
}

.card1{
    display: flex;
    align-items: center;
    background-color: rgb(119, 119, 243);
    border: 0px;
    border-radius: 15px;
    font-size: 12px;]



}

.img_card{
    width: 310px;
    height: 310px;
    
}