#index{
    background-color: white;
    font-family: sogo;
}

#display1{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.texto1{
    color: rgb(1, 50, 122);
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    h5 {   
    background-color:rgb(1, 50, 122) ;
    padding: 10px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    text-align: left;
    display: flex;
    flex-direction: column;
    
}

.setas1{
    background-color: rgb(255, 255, 255);  
    border-radius: 20px;
    }
}
.seta1{
    height: 30px;
    width: 30px;
}

#textoseta1{
    display: flex;
    align-items: center;
}

#img_card{
    margin-top: 17px;
    margin-left: 0px;
    margin-right: 0px;
    width: 310px;
    height: 310px;
}

#card1{
    display: flex;
    align-items: center;
    background-color: rgb(201, 226, 247);
    border: 0px;
    border-radius: 15px;
    font-size: 12px;
    flex: auto;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#lista1{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.tab{
    color: white;
    background-color: rgb(1, 50, 122);
    border: 0px;
    border-radius: 15px;
    margin: 10px 10px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.5;
    text-align: center;
}

#card2{
    background-color: rgb(201, 226, 247);
    border: 0px;
    border-radius: 15px;
    flex: 1;
    height: 100%;
}

#nav1{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0 25px;
    padding-right: 10px;
    margin-right: 15px;
    color: rgb(0, 67, 167);
}

.mais1{
    display: flex;
    align-items: center;
    gap: 8px;
}
.mais{
    background-color: white;
    padding: 10px;
    width:12px ;
    height:12px ;
    border-radius: 150px;
}

#lista2{
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin: 0 25px;
    padding-bottom: 5px;
}

#nav2{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    padding: 0px;
    color: rgb(0, 67, 167);
}

.tab2{
    background-color: rgb(255, 255, 255);
    border: 0px;
    padding: 1px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 30px;
    margin: 6px;
    font-weight: bold;
    padding: 0 6px;
}

.proc1{
    background-color: greenyellow;
    border-radius: 7px;
    margin: 6px;
    p {
        margin: 5px;
    }
}

.proc2{
    background-color: rgb(253, 214, 39);
    border-radius: 7px;
    margin: 6px;
    p {
        margin: 5px;
    }
}

.proc3{
    background-color: rgb(255, 78, 47);
    border-radius: 7px;
    margin: 6px;
    p {
        margin: 5px;
    }
}

#display2{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

#card3{
    background-color: rgb(201, 226, 247);
    border: 0px;
    border-radius: 15px;
    padding: 30px;
    padding-top: 20px;
    margin: 10 0;
    flex: 1.7;
    justify-content: space-between;
}