#index{
    background-color: white;
    font-family: sogo;
}

#display1{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

#texto1{
    color: rgb(25, 0, 255);
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(99, 182, 255);
    padding: 10px;
    border-radius: 15px;
    color: white;
    max-width: 110px;
    text-align: center;
}

.setas1{
    background-color: white;  
    border-radius: 20px;
}

.seta1{
    height: 30px;
    width: 30px;
}

#textoseta1{
    display: flex;
    align-items: center;
}

#img_card{
    margin-top: 17px;
    margin-left: 0px;
    margin-right: 0px;
    width: 310px;
    height: 310px;
}

#card1{
    display: flex;
    align-items: center;
    background-color: rgb(201, 226, 247);
    border: 0px;
    border-radius: 15px;
    font-size: 12px;
    flex: auto;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#lista1{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.tab{
    color: white;
    background-color: rgb(1, 50, 122);
    border: 0px;
    border-radius: 15px;
    margin: 10px 10px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.5;
    text-align: center;
}

#card2{
    background-color: rgb(201, 226, 247);
    border: 0px;
    border-radius: 15px;
    flex: 1;
    height: 100%;
}

#nav1{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0 25px;
    padding-right: 10px;
    margin-right: 15px;
    color: rgb(0, 67, 167);
}